.text {
    position: relative;
    font-family: 'Aileron-Heavy', sans-serif;
    font-size: 40px;
    font-weight:900;
    left: 5%;
    line-height: 1px;
    
    .text1 {
      font-family: Aileron-Heavy;
    }
    .text2{
      font-family: Aileron-Heavy;
      color: darkred;
    }
    }
  
.rotate90 {
    padding-top: 200px;
    padding-left: 200px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

img {
  height: 200px;
}