<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="text">
        <p class="text1">Certificate of</p>
        <p class="text2">Registration</p>
      </div>    
    </ion-row>
    <ion-row class="">
      <ion-img src="https://media.discordapp.net/attachments/894442655990317098/1026505078674296952/reg.png?width=411&height=613" class=""></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>
