<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="text">
        <p class="text1">My</p>
        <p class="text2">Student ID</p>
      </div>
    </ion-row>
    <ion-row class="">
      <ion-img src="https://media.discordapp.net/attachments/894442655990317098/1027961306768228463/id.PNG" class=""></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>

