<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">Help</p>
    <p class="text2">Center</p>
  </div>

  <p class="title">For any portal login concerns contact us <br> through the following email addresses:</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;Official Email Address</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;lipacityscienceinhs@gmail.com</ion-card-title>
    </ion-card-header>
  </ion-card>

  
</ion-content>
