<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">Help</p>
    <p class="text2">Center</p>
  </div>

  <p class="title">For any portal login concerns contact us <br> through the following email addresses:</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;PABLO BORBON</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.pb@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;ALANGILAN</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.alangilan@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;MALVAR</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.malvar@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;NASUGBU</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.nasugbu@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;LIPA</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.lipa@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;BALAYAN</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.balayan@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;LEMERY</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.lemery@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;SAN JUAN</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.sanjuan@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;ROSARIO</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.rosario@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code"><ion-icon name="home-outline"></ion-icon>&nbsp;LOBO</ion-card-subtitle>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon>&nbsp;ict.lobo@g.batstate-u.edu.ph</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
