<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">First</p>
    <p class="text2">Semester</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">JULY</ion-card-subtitle>
        <ion-card-title>25 - Start of Enrollment Period</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">AUGUST</ion-card-subtitle>
        <ion-card-title>1 - Brigada National Kick-Off</ion-card-title>
        <ion-card-title>1-26 - Brigada Eskwela</ion-card-title>
        <ion-card-title>15 - Oplan Balik Eskwela Conference</ion-card-title>
        <ion-card-title>21 - Ninoy Aquino Day</ion-card-title>
        <ion-card-title>22 - End of Enrollment Period</ion-card-title>
        <ion-card-title>22 - Opening of Classes</ion-card-title>
        <ion-card-title>22 - Start of Academic Quarter I</ion-card-title>
        <ion-card-title>22-26 - Conduct Psychosocial Support Acts</ion-card-title>
        <ion-card-title>29 - National Heroes Day</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">SEPTEMBER</ion-card-subtitle>
        <ion-card-title>TBA - SPG/SSG Election</ion-card-title>
        <ion-card-title>TBA - Accreditation and Equivalency Test</ion-card-title>
        <ion-card-title>TBA - Oplan Kalusugan sa DepEd</ion-card-title>
        <ion-card-title>TBA - Start of Career Guidance</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">OCTOBER</ion-card-subtitle>
        <ion-card-title>5 - World Teachers' Day</ion-card-title>
        <ion-card-title>TBA - National Achievement Test (G10)</ion-card-title>
        <ion-card-title>TBA - Accreditation and Equivalency Test</ion-card-title>
        <ion-card-title>27-28 - First Quarter Examination</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">NOVEMBER</ion-card-subtitle>
        <ion-card-title>1 - All Saints Day</ion-card-title>
        <ion-card-title>2 - All Souls Day</ion-card-title>
        <ion-card-title>5 - End of Academic Quarter 1</ion-card-title>
        <ion-card-title>7 - Start of Academic Quarter 2</ion-card-title>
        <ion-card-title>12 - Parent-Teacher Conference</ion-card-title>
        <ion-card-title>28 - Araw ng Pagbasa</ion-card-title>
        <ion-card-title>30 - Bonifacio Day</ion-card-title>
        <ion-card-title>TBA - Philippine Educational Placement Test</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">DECEMBER</ion-card-subtitle>
        <ion-card-title>8 - Feast of Immaculate Concepcion Day</ion-card-title>
        <ion-card-title>19 - Start of Christmas Break</ion-card-title>
        <ion-card-title>25 - Christmas Day</ion-card-title>
        <ion-card-title>30 - Rizal Day</ion-card-title>
        <ion-card-title>31 - Last Day of the Year</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">JANUARY</ion-card-subtitle>
        <ion-card-title>4 - Resumption of Classes</ion-card-title>
        <ion-card-title>22 - Chinese New Year</ion-card-title>
        <ion-card-title>26-27 - Second Quarter Examination</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">FEBRUARY</ion-card-subtitle>
        <ion-card-title>3 - End of Academic Quarter II</ion-card-title>
        <ion-card-title>6-10 - Midyear Break</ion-card-title>
        <ion-card-title>18 - Parent Teacher Conference</ion-card-title>
        <ion-card-title>25 - EDSA People Power Revolution</ion-card-title>
        <ion-card-title>TBA - National Achievement Test (G12)</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">APRIL</ion-card-subtitle>
        <ion-card-title>6 - Maundy Thursday</ion-card-title>
        <ion-card-title>7 - Good Friday</ion-card-title>
        <ion-card-title>8 - Black Saturday</ion-card-title>
        <ion-card-title>9 - The Day of Valor</ion-card-title>
        <ion-card-title>20-21 - Third Quarter Examination</ion-card-title>
        <ion-card-title>28 - End of Academic Quarter III</ion-card-title>
        <ion-card-title>TBA - Administration of ELLNA</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">MAY</ion-card-subtitle>
        <ion-card-title>1 - Labor Day</ion-card-title>
        <ion-card-title>2 - Start of Academic Quarter IV</ion-card-title>
        <ion-card-title>6 - Parent-Teacher Conference</ion-card-title>
        <ion-card-title>EVERY FRI - TAYO Naman!</ion-card-title>
        <ion-card-title>TBA - NCAE</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">JUNE</ion-card-subtitle>
        <ion-card-title>12 - Independence Day</ion-card-title>
        <ion-card-title>23 - Deped Founding Anniversary</ion-card-title>
        <ion-card-title>22-23 - Fourth Quarter Examination (G6&G12)</ion-card-title>
        <ion-card-title>29-30 - Fourth Quarter Examination</ion-card-title>
        <ion-card-title>TBA - ELLNA</ion-card-title>
        <ion-card-title>TBA - NAT (G6)</ion-card-title>
        <ion-card-title>TBA - NAT (G10)</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">JULY</ion-card-subtitle>
        <ion-card-title>7 - End of Academic Quarter IV</ion-card-title>
        <ion-card-title>10-14 - End of School Year Rites</ion-card-title>
        <ion-card-title>17 - Start of Remedial Classes</ion-card-title>
        <ion-card-title>TBA - Accreditation and Equivalency Test</ion-card-title>
    </ion-card-header>
  </ion-card>

  
</ion-content>
