<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">Second</p>
    <p class="text2">Semester</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Enrollment Period (Freshmen)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; January 2, 2023 - January 22, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Enrollment Period (Old Students)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; January 2, 2023 - January 22, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Enrollment Period (Graduate School)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; January 16, 2023 - January 27, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Start of Classes for Undergraduate Programs</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; January 23, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Start of Classes for Graduate School</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; January 28, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Deadline for the students to file for Application for Graduation for Graduation as for the end of:
          <ion-item lines="none"><ion-icon name="ellipse" size="small" ></ion-icon>&nbsp;1st Semester A.Y 2022-2023</ion-item>
          <ion-item lines="none"><ion-icon name="ellipse" size="small" ></ion-icon>&nbsp;2nd Semester A.Y 2022-2023</ion-item>
          <ion-item lines="none"><ion-icon name="ellipse" size="small" ></ion-icon>&nbsp;Midterm A.Y 2022-2023</ion-item>
        </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; February 13, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Midterm Examination</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; March 20, 2023 - March 26, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Filing for Comprehensive Examination</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; c/o Campus Registrar</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Comprehensive Examination (Graduate School)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; March 31, 2023 - April 2, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Last day for Graduating students to clear deficiencies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; April 21, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Final Examinations (Undergraduate Programs)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; May 15, 2023 - May 21, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Final Examinations (Graduate School)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; May 20, 2023 - May 21, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>End of Classes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; May 21, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Submission of Grades</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; May 22, 2023 - May 28, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Local Deliberation of Colleges</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; June 9, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Submission of Duly Signed Candidates for Graduation from Registrar to VPAA Office</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; June 16, 2023</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="code">A.Y. 2022-2023</ion-card-subtitle>
        <ion-card-title>Academic Council Meeting</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> &nbsp; June 21, 2023</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
