<ion-content [fullscreen]="true">
    <div class="text">
      <p class="text1">My</p>
      <p class="text2">Profile</p>

      <ion-grid>
      <ion-img [src]="image_url" class="idpic"></ion-img>
      <p class="text3">{{ name }}</p>
      <p class="text4">{{ srcode }}</p>
      </ion-grid>
      
    </div>

  <div class="buttons">

  <ion-card class="button">
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label class="label">Subjects</ion-label>
      <ion-button fill="outline" slot="end" (click)="opensubjects()">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="button">
    <ion-item>
      <ion-icon name="megaphone-outline" slot="start"></ion-icon>
      <ion-label class="label">Announcements</ion-label>
      <ion-button fill="outline" slot="end" (click)="openannouncements()">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="button">
    <ion-item>
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label class="label">Curriculum</ion-label>
      <ion-button fill="outline" slot="end" (click)="opencurriculum()">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="button">
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label class="label">Class Schedule</ion-label>
      <ion-button fill="outline" slot="end" (click)="openschedule()">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="button">
    <ion-item (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label class="label">Log Out</ion-label>
    </ion-item>
  </ion-card>
</div>
  
</ion-content>
