.profile{
    background-color: darkred;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: fixed;
}

.line{
    position: relative;
    margin-left: 30%;
    width: 40%;
    padding-bottom: 2%;
  }

.idpic{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 35%;
    margin-top: 5%;
}

.text{
    position: relative;
    line-height: 1px;

    .name{
        font-family: 'Aileron-Heavy', sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .course{
        font-family: 'Aileron-Heavy', sans-serif;
        font-size: 17px;
        color: white;
        text-align: center;
    }

    .srcode{
        font-family: 'Aileron-Heavy', sans-serif;
        font-size: 17px;
        color: white;
        text-align: center;
    }
}

.buttons{
    position: relative;
    top: 36%;
}

.button{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.20),
    0px 1px 3px 0px rgba(0,0,0,0.02);
    --border: none;
    border-radius: 50px;

    .label{
        font-family: 'Glacial-Indifference', sans-serif;
        font-size: 18px;
    }
}


  