<ion-content [fullscreen]="true">
    <div class="text">
          <p class="text1">My</p>
          <p class="text2">Profile</p>
        </div>
    <div class="content">
        <ion-img src="./assets/pics/line.jpg" class="line"></ion-img>
        <ion-card class="buttons">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Certificate of Registration</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">View Student ID</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="book-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Subjects</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="newspaper-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Curriculum</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="school-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Scholarship</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
              <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Liabilities</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
                <ion-icon name="qr-code-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">My QR-Code</ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="button">
            <ion-item lines="none" button (click)="openaccount()">
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label class="orlabel">Log Out</ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
