<ion-content>
  <ion-img src="./assets/pics/background.jpg" class="bg"></ion-img>
  <ion-img src="./assets/pics/logo.png" class="logo"></ion-img>

  <div class="content">
    <ion-img src="./assets/pics/line.jpg" class="line"></ion-img>
    <p class="text">sign in</p>
  </div>

  <div class="form">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating" class="textform">SR-Code</ion-label>
        <ion-input label="Username" formControlName="name"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        SR-Code is required.
      </span>
      <ion-item lines="full">
        <ion-label position="floating" class="textform">Password</ion-label>
        <ion-input label="Password" type="password" formControlName="name"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        Password is required.
      </span>
      

      <a routerLink="#" class="forgot-password-link">Forgot  Password?</a>

      <div class="captcha">
        <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha">
          </ngx-recaptcha2>
        </form>
      </div>

    <ion-button type="submit" color="danger" expand="block" (click)="home()">Submit</ion-button>

    <a routerLink="#" class="contact-us">Contact Us</a>
  </form>
  </div>
  
</ion-content>
