<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">Recent</p>
    <p class="text2">News</p>
  </div>

  <p class="title">BatStateU officially opens its Gateway to Greatness: Gate 4 Façade, inaugurates the first Learning Development Center</p>
  <ion-img src="./assets/pics/news1.jpg" class="newspic"></ion-img>
  <p class="subtitle">NEWS | September 29, 2022</p>

  <div class="contents">
  <p class="content">On September 23, 2022, Batangas State University (BatStateU), The National Engineering University (The NEU), was placed at the forefront of development as it held two (2) inauguration ceremonies for its state-of-the-art infrastructures including the Learning Development Center (LDC) and the Gateway to Greatness: Gate 4 Façade.<br><br>

    With a total floor area of 1,731.91 square meters, the first LDC of Batangas State University- Integrated School is a three-storey building which accommodates the school’s increasing population that frames intentional activities and outcomes. It provides a learning space for creative thinking, learning interaction, collaboration, and innovation.  More so, the building houses a Robotics Laboratory, Fabrication Laboratory (FabLab), Computer Laboratory, Library, Exhibit Room, three (3) offices, and seven (7) conducive classrooms which support a meaningful learning experience for Red Spartan problem-solvers, innovators, and critical thinkers in the demand of Science, Technology, Engineering and Mathematics (STEM) education.<br><br>
    
    The ribbon cutting ceremony and marker unveiling of the LDC were commenced by the University President, Dr. Tirso A. Ronquillo, and the Vice President for Academic Affairs; Dr. Charmaine Rose I. Triviño.  Following the blessing of the building led by Rev. Fr. Emiliano Magsino, a ceremonial turn-over also took place as Mr. Luis Philip M. Oropesa, Head Teacher III of BatStateU Integrated School, officially accepted the key which signifies responsible stewardship, from Dr. Ronquillo. The two inauguration ceremonies were also attended by the members of the Presidential Advisory Council, vice-chancellors, administrative officials, and the entire Red Spartan Community.<br><br>
    
    “We say that every peso or every centavo spent on the development of our Integrated School is not an expense but rather, our investment for the future… This three-storey Learning Development Center is really meant for the advancement of our Integrated School students attuned to the needs of the STEM track. This new infrastructure will allow them to excel in all aspects of academic realm”, Dr. Tirso A. Ronquillo conveyed, in a special message.  He also challenged the students of the university to vigorously participate on providing solutions in confronting problems of the community through advanced Science and Technology.<br><br>
    
    Meanwhile, as the guest of honor of the ceremony, Hon. Marvey A. Mariño graced the event and congratulated BatStateU and its officials led by Dr. Tirso A. Ronquillo, for the new developments inside the university. He lauded all the people behind the continuous success of BatStateU and shared how happy and proud he is that Batangas State University is the first and only “National Engineering University” in the country. He expressed that he is confident that BatStateU will continue to be a steadfast institution producing the best of the best human capital in the country.<br><br>
    
    Closing the first part of the ceremony was Dr. Expedito V. Acorda, chancellor of BatStateU Pablo Borbon campus, who displayed gratitude to all BatStateU officials and the entire Integrated School community because of their cooperation and continuous efforts towards the realization of the inauguration ceremony. He also challenged not only the faculty members but also the students to keep striving for excellence for the love of Batangas State University, their second home. That day was even made more noteworthy as BatStateU also officially opened its new Gate 4 façade. The said university façade offers convenience to the growing campus community of BatStateU Pablo Borbon, composed of more than 19,000 students and several faculty members and employees, by managing smooth access and egress during its usual operations and emergency situations.<br><br>

    Dubbed as “Gateway to Greatness”, the new façade is expected to lead to endless opportunities for holistic personal growth and service to others. It shall open up a world that brings out the best in each Red Spartan to cultivate intellect and unique talents driven by the spirit of empathy, openness, and collaboration. Similarly, it shall usher to a community of thinkers, doers, and builders that celebrate both the joys and lows of exploration, experimentation, and innovation. Upon entering this new gate, every Red Spartan shall signify their commitment to sharpen and enrich thousand-fold their God-given gifts and return the favor by helping transform the lives of families and communities and building the nation.<br><br>
    
    These new developments inside the university are part of BatStateU – The NEU’s commitment to provide cutting edge facilities and technologies for the optimum learning experience of the Red Spartans. Thus, it is entrusted to bring forth an academic atmosphere that synergizes technical learning and exciting opportunities for holistic growth in various fields of interest. Further, it adheres to inculcate critical thinking, creativity, and innovativeness to produce world-class leaders in the knowledge-based economy.</p><br>

  </div>
</ion-content>
