<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">My</p>
    <p class="text2">Subjects</p>
  </div>

  <ion-card *ngFor="let subject of subjects">
    <ion-card-header>
      <ion-card-subtitle class="code">{{ subject.code }} </ion-card-subtitle>
        <ion-card-title>{{ subject.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><ion-icon name="person-outline"></ion-icon> &nbsp; {{ subject.professor }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

