<ion-content [fullscreen]="true">
  <div class="text">
    <p class="text1">My</p>
    <p class="text2">Calendar</p>
  </div>
  <div class="cldr">
    <ion-datetime presentation="date"></ion-datetime>
  </div>
  <div class="text">
    <p class="text1">My</p>
    <p class="text2">Activities</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
