<ion-content [fullscreen]="true">
  <video id="videoBG" autoplay muted loop>
    <source src="./assets/pics/bg.mp4" type="video/mp4">
  </video>
  <ion-img src="./assets/pics/logo.png" class="logo"></ion-img>

  <div class="content">
    <ion-img src="./assets/pics/line.jpg" class="line"></ion-img>
    <div class="text">
      <p class="text1">Recent</p>
      <p class="text2">News</p>
    </div>
    <div class="news">
      <ion-slides [options] ="options" class="ion-margin-top">
        <ion-slide>
          <ion-card class="newscard">
            <ion-card-header>
              <ion-img src="./assets/pics/logo.png"></ion-img>
              <ion-card-subtitle>Category</ion-card-subtitle>
              <ion-card-title>Headline</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card class="newscard">
            <ion-card-header>
              <ion-img src="./assets/pics/logo.png"></ion-img>
              <ion-card-subtitle>Category</ion-card-subtitle>
              <ion-card-title>Headline</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-slide>
    </ion-slides>
    </div>
    <div class="announcement">
      <p class="text1">College</p>
      <p class="text2">Announcements</p>
    </div>
    <div>
      <ion-card>
        <ion-item>
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Announcement 1</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Announcement 2</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card>
    </div>

    <div class="reminders">
    <p class="text1">Activity</p>
    <p class="text2">Reminders</p>
  </div>
  <div>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Activity 1</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Mark as Done</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-item-sliding>
        <ion-item>
          <ion-label>Activity 2</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Mark as Done</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  </div>

  
</ion-content>