<ion-content [fullscreen]="true">
  <video id="videoBG" autoplay muted loop>
    <source src="./assets/forapp/video.mp4" type="video/mp4">
  </video>

  <div class="home">
  <ion-img src="./assets/forapp/logo.png" class="logo"></ion-img>
  <div class="tneu">
    <p class="tneu1">Integrity</p>
    <p class="tneu1">Excellence</p>
    <p class="tneu1">Leadership</p>
    <p class="tneu1">Service</p>
  </div>
</div>

  <div class="content">
    <ion-img src="./assets/forapp/line.png" class="line"></ion-img>
    <div class="text">
      <p class="text1">Recent</p>
      <p class="text2">News</p>
    </div>
    <div class="news">
      <ion-slides [options] ="options" class="ion-margin-top">
        <ion-slide>
          <ion-card class="newscard">
            <ion-card-header>
              <ion-img src="./assets/forapp/news1.jpg" class="newspic"></ion-img>
            </ion-card-header>
          </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card class="newscard">
            <ion-card-header>
              <ion-img src="./assets/forapp/news2.jpg" class="newspic"></ion-img>
            </ion-card-header>
          </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="newscard">
        <ion-card-header>
          <ion-img src="./assets/forapp/news3.jpg" class="newspic"></ion-img>
        </ion-card-header>
      </ion-card>
</ion-slide>
    </ion-slides>
    </div>
    <div class="announcement">
      <p class="text1">School</p>
      <p class="text2">Announcements</p>
    </div>
    <div>
      <ion-card *ngFor="let announcement of announcements">
          <ion-card-header>
            <ion-card-subtitle class="text0">{{ announcement.created_at }} </ion-card-subtitle>
              <ion-card-title class="text1">{{ announcement.title}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <p> {{ announcement.description }}</p>
            <ion-label><ion-icon name="person-outline"></ion-icon> &nbsp; {{ announcement.created_by }}</ion-label>
          </ion-card-content>
      </ion-card>
    </div>

    <div class="reminders">
    <p class="text1">Academic</p>
    <p class="text2">Calendar</p>
  </div>
  <div class="news">
    <ion-slides [options] ="options" class="ion-margin-top">
      <ion-slide>
        <ion-card class="newscard">
          <ion-card-header>
            <ion-img src="./assets/pics/firstsem.jpg" class="newspic"></ion-img>
            <ion-card-subtitle>Source: Office of the VPAA</ion-card-subtitle>
            <ion-card-title class="acadcalsem">FIRST SEMESTER</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" (click)="openfirstsem()">View</ion-button>
          </ion-card-content>
        </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card class="newscard">
      <ion-card-header>
        <ion-img src="./assets/pics/secondsem.jpg" class="newspic"></ion-img>
        <ion-card-subtitle>Source: Office of the VPAA</ion-card-subtitle>
        <ion-card-title class="acadcalsem">SECOND SEMESTER</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="outline" expand="block" (click)="opensecondsem()">View</ion-button>
      </ion-card-content>
    </ion-card>
</ion-slide>

<ion-slide>
  <ion-card class="newscard">
    <ion-card-header>
      <ion-img src="./assets/pics/midterm.jpg" class="newspic"></ion-img>
      <ion-card-subtitle>Source: Office of the VPAA</ion-card-subtitle>
      <ion-card-title class="acadcalsem">MIDTERM CLASS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="outline" expand="block" (click)="openmidterms()">View</ion-button>
    </ion-card-content>
  </ion-card>
</ion-slide>
    </ion-slides>
  </div>

  <div class="abt">
    <p class="text1">About</p>
    <p class="text2">LCSINHS</p>
  </div>

  <div class="abtbsu">
    <ion-card class="mission">
      <ion-card-header>
        <ion-card-title class="abouttext">University Mission</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        A university committed to producing leaders by providing a 21st century learning environment through innovations in education, multidisciplinary research, and community and industry partnerships in order to nurture the spirit of nationhood, propel the national economy, and engage the world for sustainable development.
      </ion-card-content>
    </ion-card>

    <ion-card class="vision">
      <ion-card-header>
        <ion-card-title class="abouttext">University Vision</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        A premier national university that develops leaders in the global knowledge economy.      
      </ion-card-content>
    </ion-card>

    <ion-card class="values">
      <ion-card-header>
        <ion-card-title class="abouttext">Core Values</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <li>Patriotism</li> 
        <li>Service</li>  
        <li>Integrity</li>  
        <li>Resilience</li>       
        <li>Excellence</li>  
        <li>Faith</li>  
      </ion-card-content>
    </ion-card> 
  </div>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="primary" href="https://web.facebook.com/DepEdTayoLCSINHS301492"><ion-icon name="logo-facebook" ></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>