<ion-content [fullscreen]="true">
  <video id="videoBG" autoplay muted loop>
    <source src="./assets/pics/bg.mp4" type="video/mp4">
  </video>

  <div class="home">
  <ion-img src="./assets/pics/logo.png" class="logo"></ion-img>
  <div class="tneu">
    <p class="tneu1">The</p>
    <p class="tneu1">National</p>
    <p class="tneu1">Engineering</p>
    <p class="tneu1">University</p>
  </div>
</div>

  <div class="content">
    <ion-img src="./assets/pics/line.jpg" class="line"></ion-img>
    <div class="text">
      <p class="text1">Recent</p>
      <p class="text2">News</p>
    </div>
    <div class="news">
      <ion-slides [options] ="options" class="ion-margin-top">
        <ion-slide>
          <ion-card class="newscard" (click)="opennews()">
            <ion-card-header>
              <ion-img src="./assets/pics/news1.jpg" class="newspic"></ion-img>
              <ion-card-subtitle>NEWS | September 29, 2022</ion-card-subtitle>
              <ion-card-title>BatStateU officially opens its Gateway to Greatness: Gate 4 Façade, inaugurates the first Learning Development Center</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card class="newscard" (click)="opennews2()">
            <ion-card-header>
              <ion-img src="./assets/pics/news2.jpg" class="newspic"></ion-img>
              <ion-card-subtitle>NEWS | June 30, 2022</ion-card-subtitle>
              <ion-card-title>ULille visits BatStateU to bolster int’l academic and research collaboration in Engineering and Technology</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-slide>
    </ion-slides>
    </div>
    <div class="announcement">
      <p class="text1">College</p>
      <p class="text2">Announcements</p>
    </div>
    <div>
      <ion-card *ngFor="let announcement of announcements">
        <ion-item>
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label class="aileron">{{ announcement.title }}</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card>
    </div>

    <div class="reminders">
    <p class="text1">Activity</p>
    <p class="text2">Reminders</p>
  </div>
  <div>
    <ion-list class="remind">
      <ion-item-sliding>
        <ion-item >
          <ion-label>Activity 1</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Mark as Done</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-item-sliding>
        <ion-item>
          <ion-label>Activity 2</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Mark as Done</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div class="abt">
    <p class="text1">About</p>
    <p class="text2">BatStateU</p>
  </div>

  <div class="abtbsu">
    <ion-card class="mission">
      <ion-card-header>
        <ion-card-title class="abouttext">University Mission</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        A university committed to producing leaders by providing a 21st century learning environment through innovations in education, multidisciplinary research, and community and industry partnerships in order to nurture the spirit of nationhood, propel the national economy, and engage the world for sustainable development.
      </ion-card-content>
    </ion-card>

    <ion-card class="vision">
      <ion-card-header>
        <ion-card-title class="abouttext">University Vision</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        A premier national university that develops leaders in the global knowledge economy.      
      </ion-card-content>
    </ion-card>

    <ion-card class="values">
      <ion-card-header>
        <ion-card-title class="abouttext">Core Values</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <li>Patriotism</li> 
        <li>Service</li>  
        <li>Integrity</li>  
        <li>Resilience</li>       
        <li>Excellence</li>  
        <li>Faith</li>  
      </ion-card-content>
    </ion-card> 
  </div>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="primary" href="https://web.facebook.com/batstateuofficial/?_rdc=1&_rdr"><ion-icon name="logo-facebook" ></ion-icon></ion-fab-button>
        <ion-fab-button color="primary" href="https://www.youtube.com/c/BatangasStateUniversityOfficial"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
        <ion-fab-button color="primary" href="https://www.linkedin.com/school/batstateuofficial/"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>