.text {
    position: relative;
    font-family: 'Aileron-Heavy', sans-serif;
    font-size: 35px;
    font-weight:900;
    left: 5%;
    line-height: 1px;
    
    .text1 {
      font-family: Aileron-Heavy;
    }
    .text2{
      font-family: Aileron-Heavy;
      color: darkred;
    }
    }

.chart{
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.20),
    0px 1px 3px 0px rgba(0,0,0,0.02);
    --border: none;
    border-radius: 20px;
    height: 300px;
}

ion-grid{
    padding-left: 5%;
    padding-right: 5%;
}

.gwatext {
        position: relative;
        font-family: 'Aileron-Heavy', sans-serif;
        font-size: 20px;
        font-weight:900;
        padding-top: 0%;
        line-height: 1px;
        
        .text1 {
          font-family: Aileron-Heavy;
          color: black;
          font-size: 17px;
        }
        .text2{
          font-family: Aileron-Heavy;
          color: darkred;
          font-size: 17px;
        }
    }

ion-card{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.20),
    0px 1px 3px 0px rgba(0,0,0,0.02);
    --border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 150px;
}

ion-card-header {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

ion-card-title{
    font-family: 'Glacial-Indifference', sans-serif;
        font-size: 18px;
}
ion-card-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 50px;
}
.large-text {
  text-align: center !important;
  font-size: 45px !important;
  color: rgb(0, 0, 0);
}

ion-img {
  height: 300px;
}