<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <div class="text">
        <p class="text1">My</p>
        <p class="text2">Liabilities</p>
      </div>
    </ion-row>
    <ion-row>

      
    <ion-card *ngFor="let liab of liabs">
      <ion-card-header>
        <ion-card-subtitle>{{ liab.sem }} </ion-card-subtitle>
        <ion-card-title>{{ liab.name }} (PHP {{ liab.amount }}.00)</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item lines="none">{{ liab.note }}</ion-item>
        
      </ion-card-content>
    </ion-card>



    </ion-row>
  </ion-grid>

</ion-content>

