@font-face {
    font-family: "Abril-Fatface";
    src: url('../assets/fonts/AbrilFatface-Regular.ttf');
}
  
@font-face {
    font-family: "Aileron-Heavy";
    src: url('../assets/fonts/aileron.heavy.otf');
}

@font-face {
    font-family: "League-Spartan";
    src: url('../assets/fonts/LeagueSpartan-Bold.otf');
}
  
@font-face {
    font-family: "Glacial-Indifference";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}