<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">Help</p>
    <p class="text2">Center</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="abouttext">HOW TO ADD TASK</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      To add a task, simply click the (+) button located below the page.<br>
      After clicking, it should be redirected to this page.<br>
      <ion-img src="./assets/pics/add.jpg"></ion-img><br>
      After that, you can enter all the details required.You can input the task name, set the priority, pick the date and time, and lastly, choose a category.<br>
      To save, click the "ADD TASK" button.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="abouttext">HOW TO UPDATE TASK</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      To update a task, simply click the update button on the task that you want to update.<br>
      After clicking, it should be redirected to this page.<br>
      <ion-img src="./assets/pics/update.jpg"></ion-img><br>
      After that, you can enter all the details required.You can update the task name, set the priority, pick the date and time, and lastly, choose a category.<br>
      To save, click the "UPDATE TASK" button.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="abouttext">HOW TO DELETE TASK</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      To delete a task, simply click the delete button on the task that you want to delete.
    </ion-card-content>
  </ion-card>
</ion-content>