<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p class="text1">My</p>
    <p class="text2">Curriculum</p>
  </div>
  <ion-card *ngFor="let subject of fourth">
    <ion-card-header>
      <ion-card-subtitle class="code">FOURTH YEAR </ion-card-subtitle>
      <ion-card-title>{{ subject.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label><ion-icon name="list-outline"></ion-icon> &nbsp; {{ subject.code }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

