.text {
    position: relative;
    font-family: 'Aileron-Heavy', sans-serif;
    font-size: 40px;
    font-weight:900;
    left: 5%;
    line-height: 1px;
    
    .text1 {
      font-family: Aileron-Heavy;
    }
    .text2{
      font-family: Aileron-Heavy;
      color: darkred;
    }
    }

.text-center {
  text-align: center!important;
}

.arimo {
  font-family: 'Arimo', sans-serif !important;
}

.aileron {
  font-family: Aileron-Heavy;
}