<ion-content>
  <div class="text">
    <p class="text1">My</p>
    <p class="text2">Classes</p>
      <ion-card class="pic">
      <ion-img src="./assets/pics/scan.png" class="picture"></ion-img>
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click) ="scan()" *ngIf="!showScan">SCAN CLASS QR</ion-button>
        <ion-card>
          <video #video [hidden]="!showScan" height="650px" width="100%"></video>
          <canvas #canvas hidden style="height: 750px"></canvas>
        </ion-card>
        <ion-button color="danger" (click) ="stopScan()" *ngIf="showScan">CANCEL</ion-button>
      </ion-col>
     
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center attend" *ngIf="!showScan">
        <b>PAST ATTENDANCE</b>

        <ion-card *ngFor="let class of attendance">
          <ion-card-header>
            <ion-card-subtitle class="code">{{ class.date }} </ion-card-subtitle>
              <ion-card-title>{{ class.subject}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label><ion-icon name="person-outline"></ion-icon> &nbsp; {{ class.prof_name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </ion-grid>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openabout()">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  </ion-content>
  